$body-bgc: #293764;
$nav-bgc:#4056a1;
$nav-color:white;
$nav-fas:#293764;
$nav-fas-hover:#192346;
$container-bgc: #f4f1ec;
$container-color: #545149;
$to-top-icon-color: #101525;
$to-top-icon-hover: #49557c;
$header-bgc: #a1aed8;
$header-bg-img: url("../images/diagmonds-light.png");
