header {
  width: 100%;
  height: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #a1aed8;
  background-image: url("../images/diagmonds-light.png");
  text-align: center;
}
