nav {
  background-color: #4056a1;
  color: white;
  position: sticky;
  position: -webkit-sticky; /* support for safari */
  top: 0;
}
nav .logo {
  font-family: "Bungee", cursive;
  padding: 1.5em;
  font-size: xx-large;
}
nav .right {
  padding: 1.5em;
  text-align: center;
  font-size: 28px;
}
nav .right .fas {
  color: #293764;
  padding-top: 5px;
}

nav .right .fas:hover{
  color: #192346;
  padding-top: 5px;
}
