.container .tweet-container .tweet {
  border: solid 5px;
}
.container .tweet-container .tweet:hover {
  box-shadow: 5px 10px #c5d0f5;
}
.container .tweet-container .tweet .tweet-header .user-id {
  color: #aeaeb3;
}
.container .tweet-container .tweet .tweet-header .fa-user-circle {
  font-size: 30px;
  margin-left: 0 10px;
}
.container .tweet-container .tweet .tweet-main {
  border-bottom: solid 4px;
  font-weight: 600;
}
.container .tweet-container .tweet .tweet-footer {
  font-size: medium;
}
.container .tweet-container .tweet .tweet-footer .fas {
  color: #464f6e;
}
.container .tweet-container .tweet .tweet-footer .fas:hover {
  color: #a8894b;
}
